@font-face {
    font-family: 'PencilantScript';
    src: url('/fonts/PencilantScript.otf') format('opentype');

    font-weight: normal;
    font-style: normal;
  }

body {
  background-image: url(https://media.istockphoto.com/id/522279843/vector/green-chalkboard-background.jpg?s=612x612&w=0&k=20&c=1UF9HKAOi7U2pAcSIn_77mtW2bFSrRQo40QDL8z5H-A=);
  color: white;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.whiteBoard {
  background-image: url(https://media.istockphoto.com/id/518281200/photo/old-whiteboard-for-office-with-traces-of-stains-and-spots.jpg?s=612x612&w=0&k=20&c=Vbrye8JMegtDSjzrql_PH2CfZPq5HOG2XzYmUsQMGXg=);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'PencilantScript', cursive;
  font-size: 3rem;
}

.eraser {
  background-image: url(/images/eraserbg.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  border: none;
  border-radius: 4px;
  color: beige;
  width: 10rem;
  font-size: 2rem;
  align-self: center;
  margin-top: auto;
  margin-bottom: 1rem;
}

.eraserSubmit {
  background-image: url(/images/eraserbg.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  border: none;
  border-radius: 4px;
  color: beige;
  width: 8rem;
  font-size: 1rem;
  text-wrap: nowrap;
  margin-bottom: 5rem;
}

.eraserCreate {
  background-image: url(/images/eraserbg.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  border: none;
  border-radius: 4px;
  color: beige;
  width: 8rem;
  font-size: 1rem;
  text-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
}

.nav-link {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.editBtn {
  justify-content: end;
  align-items: center;
  margin-left: 1rem;
}

.addBtn {
  width: 1.5rem;
  margin-top: none;
}

.deleteBtn {
  margin-right: 1.5rem;
}

.categoryTitle {
  text-align: center;
  margin-top: 4rem;
  font-family: 'PencilantScript', cursive;
  font-size: 4rem;
}

.fitBoard {
  height: 100%;
}

.mainPage {
  display: block;
}

.elipsis {
  color: beige;
}

.priorityStatus {
  text-align: end;
  font-size: .80rem;
  color: bisque;
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.taskCard {
  width: 36rem;
  font-size: 1.75rem;
  background: none;
  font-family: 'PencilantScript', cursive;
  color: white;
  border: none;
}

.formField {
  width: 36rem;
  font-size: 1.5rem;
  background: none;
  font-family: 'PencilantScript', cursive;
  color: white;
  border: none;
  resize: none;
}

.taskTitle {
  text-align: center;
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
}

.card-text {
  text-align: start;
}

.dropdown {
  display: flex;
  justify-content: end;
  align-items: center;
}

.resources {
  display: flex;
  flex-wrap: wrap;
}

.border {
  border: 5px, dashed, beige;
}
