body {
  background: black;
  color: white;
}

.dutiesPage {
  background-color: black;
}

.categoryTitle {
  text-align: center;
  margin-top: 4rem;
}

.mainPage {
  display: block;
}

.elipsis {
  color: black;
}

.priorityStatus {
  text-align: end;
  font-size: .75rem;
  color: gray;
}

.card {
  margin-left: auto;
  margin-right: auto;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.taskTitle {
  text-align: center;
  font-weight: bold;
}

.card-text {
  text-align: start;
}

.dropdown {
  display: flex;
  justify-content: end;
  align-items: center;
}
